.Orderbase {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width:700px){
    h1{
        font-size: 100px;
    }

    p{
        font-size: 20px;
    }
}

.orderbox{
    width: auto;
    height: auto;
    margin: 10px 10px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products {
    margin-left: 20px;
    display: flex;
    height: 150px;
    justify-content: center;
}


.otbox {
    margin-left: 300px;
    display: flex;
    flex-direction: column;

}

@media(max-width:720px){
    .Orderbase{
        width: auto;
        height: auto;
        flex-flow: column;
    }

    .orderbox{
        margin-top: 40px;
        margin-left: 10px;
    }

    .otbox{
        margin-left: 20px;
    }
}
@media(min-width:720px) and (max-width:872px){

    .otbox{
        margin-left: 80px;
    }

}

.otext {
    color: rgb(0, 0, 0);
    margin: 10px 10px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
}


.ordprice {
    margin-top: 10px;
    margin-left: 40px;
    font-size: xx-large;
    color: black;
    display: flex;
}
