.cardbase {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.cardscroll{
    display: flex;
    overflow: auto;
    width: 100%;
    flex-shrink: 1;
}

/* .cardscroll::-webkit-scrollbar{
    width: 100px;
} */

@media(max-width:1080px){
    .cardbase{
        flex-wrap: wrap;
    }
    .alertcart{
        display: flex;
    }
}

@media(max-width:500px){
    .cardbase{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .alertcart{
        display: flex;
    }

    .cardbox {
        width: 200px;
        margin: 10px 20px;
        border-radius: 49px 49px 0px 0px;
        height: 280px;
        background: white;
        display: flex;
        flex-direction: column;
    }
    
}

.cardbox {
    width: 200px;
    margin: 10px 30px;
    border-radius: 49px 49px 0px 0px;
    height: 280px;
    background: white;
    display: flex;
    flex-direction: column;
}


 .txtbase {
    display: flex;
    flex-direction: column;
}

.items{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}

.text {
    color: orangered;
    margin: 0px 10px;
    font-size: x-large;
}

.cartbtn {
    padding: 0px 20px;
    margin-right: 15px;
    border-radius: 25px;
    font-size: large;
    color: white;
    background: #ff4500b0;
    outline: none;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 70px;
}
.cartbtn:hover{
    background-color: blue;
}

.money {
    font-size: 20px;
    color: black;
   font-weight: bolder;

}

.kurk {
    width: 200px;
    height: 200px;
    border-radius: 45px;
}

.pepsi{
    border-radius: 49px;
}

.water {
    width: 150px;
    margin-left: 30px;
    height: 200px;
    border-radius: 48px;
}

.WatertextBox {
    margin-top: 20px;
   
}

.alertcart{
    width: auto;
    position: absolute;
    margin-top: 330px;
    background: black;
    color: white;
    border: 1px solid red;
    border-radius: 10px;
}

.backhome{
    background-color: black;
    color: white;
    border: 1px solid yellow;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
