body {
    background-color: rgb(243, 239, 239);
}

input[type=text] {
    background-position-y: 2px;
    background-repeat: no-repeat;
    background-size: 27px;
    height: 10px;
    text-align: center;


}



.image {
    margin: auto;
    height: 80px;
    display: flex;
    justify-content: center;
}

.input {
    margin-left: 500px;
    display: flex;
    justify-content: center;
    width: 440px; 
    flex-direction: column;
}

p{
    display: flex;
    justify-content: center;
}

@media(max-width:500px){
 
    input[type=text] {
        background-position-y: 2px;
        background-repeat: no-repeat;
        background-size: 27px;
        width: auto;
        height: 10px;
        text-align: center;
        margin-right: 70px;
    
    
    }

    .input{
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }
}



.fake-input input {
    border: none;
    background-color: #fff;
    width: 500px;
    height: 30px;
    box-sizing: border-box
}

label {
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.crdinput {
    padding: 10px;
    font-size: 18px;
}

.searchbar{
    position: absolute;
    margin-left: 10px;
    margin-top: 11px;
    cursor: pointer;
}